/*The body padding in original is 52px to account for sidebar that is now hidden*/
body {
	padding-right: 0px;
	padding-left: 0px;
	overflow-x: hidden;
  height: 100%;
  max-height: 100%;
  color: #787E89;
  border-style: none;
  overflow-x: none;

}

span {
  font-weight: bold;
}

a.btn:hover {
  
  box-shadow: 0 2px 10px  #eee;
  border-style: none;
  cursor: auto;
   
}


.btn-height {
  min-height: 150px;
  margin-top: 10px;
  padding-top: 35px;
}
 .btn-left {
  text-align: left;
 } 
 .btn-width {
  width: 234px;
}
.btn-kill {
  background-color: red;
  width: 100%;
  border-style: none;
  padding: 20px;
}
.button-cancel {
  padding: 20px;
  width: 100%;
  border-style: none;
  background-color: #F4633B;
}
.buttonStyle {
  width: 100%;
  border-style: none;
  padding: 20px;
  background-color: #787E89;
}
.btn.raised,
.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.26);
      border-radius: 5px;
}
.button.raised:active {
     box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 1.26);
     transition-delay: 0s;
   }
.calltoAction {
     background-color: transparent;
     border-radius: 5px;
     border-width: 2px;
     border-color: #7DC1C4;
     color: #7DC1C4;
     font-weight: 100;
     
    
    
   }
.column-featured {
     background-color: transparent;
   }
.container {
  height: auto;
}
.dropmenuItems {
  padding-left: 20px !important;
  
}
.footer {
  margin-right: 0px;
  position: relative;
  z-index: 2;
  border-top: 1px solid #9bd4ec;
  border-right: 1px solid #9bd4ec;
}
.header {
  border-color:  #fff;

}
.header-btn-bar a:focus,
.header-btn-bar a:hover,
.header-btn-bar a:active,
.headero-btn-bar a.active-slide-btn {
  background-color: #4A4A4A;

}
.landing-column {
  background-color: #787E89;
}

.no-gutters {
	padding-right: 0;
  	padding-left: 0;
}
.no-page-gutters {
	padding: 0px;
}
.profileImage {
  margin: 0 auto;
  display: block;
  border: 5px solid #fff;
  border-radius: 50%;
}

.round-btn {
  border-radius: 5px;
}
.row {
  height: auto;
  
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.slide-panel {
  background-color: #4A4A4A;

}
.smLogo {
  max-height: 30px;
}
.summary {
  text-align: justify;
}
.transparent {
  background-color: transparent;
  border-radius: 5px;
  border-width: 3.5px;
}




#calltoAction {
  background-color: transparent;
  border-radius: 5px;
  border-width: 3.5px;
  border-color: #40EC9A;
  color: #40EC9A;
 
}

table#clickableRow {
    border-collapse: collapse;   
}

#clickableRow tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}
#clickableRow tr:hover {
background-color: #ccc;
}
#clickableRow th {
    background-color: #fff;
}
#clickableRow th, 
#clickableRow td {
    padding: 3px 5px;
}
#clickableRow td:hover {
    cursor: pointer;
}

#colFullheight {
  border-radius: 2px;
  background-color: transparent;
}
#fix-padding-right {
  padding-right: 0px;
}
#nav .active, 
#nav a:hover, 
#nav a:active, 
#nav a:focus {
  background: #787E89;
  color: #fff;
  border-radius: 2px;
}
#nav .current, 
#nav .current-parent, 
#nav a.current.parent {
  background: #787E89;
  color: #40EC9A;
  border-radius: 2px;
}
#tableTitle {
  font-family: Montserrat;
  font-weight: 500;
  word-spacing: .4em;
  background: #4A4A4A;
  color: #fff;
  padding-top: 20px;
  border-radius: 2px;
  margin-bottom: 20px;
  box-shadow: 0 2px 9px 0 #ABA5A5;
}


/*box shadows for buttons*/
/********************/
/*.wrapper {
	width: 100%;
}
.shadow-0 {
    border: 1px solid #eee;
}
.shadow-1 {
    box-shadow: 0 2px 10px 0 #eee, 0 2px 5px 0 #eee;
}
.shadow-2 {
    box-shadow: 0 6px 20px 0 #eee, 0 8px 17px 0 #eee;
}
.shadow-3 {
    box-shadow: 0 17px 50px 0 #eee, 0 12px 15px 0 #eee;
}
.shadow-4 {
    box-shadow: 0 25px 55px 0 #eee, 0 16px 28px 0 #eee;
}
.shadow-5 {
    box-shadow: 0 40px 77px 0 #eee, 0 27px 24px 0 #eee;
}*/
/*box shadows for buttons*/
/********************/




/*hides the background image on anything smaller than the a destop screen*/
@media screen and (min-width: 992px){
    .column-featured {
      background-color: transparent;
    }
    .img-size {
      max-width: 183px;
      text-align: center;
    }
    .logoHeight {
      max-height: 80px;
    }

    .landingBackground {
      height: 70%;
      background: url('/bedifferent/theme/assets/images/bird_hand.jpeg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color:#fff;
      background-color:#333;
      overflow-x: hidden;
       
    }
 
    .pagination {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  /*margin: 20px 0;*/
  border-radius: 4px;
  width: 100%;
  height: 40px;
  text-align: center;
    }
    .pagination > li {
      display: inline;
    }
    .pagination > li > a,
    .pagination > li > span {
      position: relative;
    /*  float: left;*/
      padding:  6px 12px;
      margin-left: -1px;
      /*line-height: 1.42867143; */
      text-decoration: none;
      background-color: #fff;

    }
    .pagination > li:first-child > a,
    .pagination > li:first-child > span {
      margin-left: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination > li > a:focus,
    .pagination > li > span:focus {
      color: #50D9FF;
      background-color: #eee;
      border-color: #ddd;
    }
    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
      z-index: 1;
      color: #fff;
      
      background-color: #50D9FF;

    }
    .pagination > .disabled > span,
    .pagination > .disabled > span:hover,
    .pagination > .disabled > span:focus,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus {
      color: #50D9FF;
      
      background-color: #fff;
      border-color: #ddd;
    }

    #sidebar {
      height: 800px;
    }

    } /*end media query md *?