/*The body padding in original is 52px to account for sidebar that is now hidden*/
body {
	padding-right: 0px;
	padding-left: 0px;
	overflow-x: hidden;
  max-height: 100%;

}

a.btn:hover {
  
  box-shadow: 0 2px 10px 0 #eee;
  border-style: none;
   
}
.btn-height {
  min-height: 150px;
  margin-top: 10px;
  padding-top: 35px;
}
  
 .btn-width {
  width: 234px;
}
.dropmenuItems {
  padding-left: 20px !important;
}

.no-gutters {
	padding-right: 0;
  	padding-left: 0;
}
.no-page-gutters {
	padding: 0px;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.summary {
  text-align: justify;
}
.transparent {
  background-color: transparent;
  border-radius: 5px;
}




/*box shadows for buttons*/
/********************/
/*.wrapper {
	width: 100%;
}
.shadow-0 {
    border: 1px solid #eee;
}
.shadow-1 {
    box-shadow: 0 2px 10px 0 #eee, 0 2px 5px 0 #eee;
}
.shadow-2 {
    box-shadow: 0 6px 20px 0 #eee, 0 8px 17px 0 #eee;
}
.shadow-3 {
    box-shadow: 0 17px 50px 0 #eee, 0 12px 15px 0 #eee;
}
.shadow-4 {
    box-shadow: 0 25px 55px 0 #eee, 0 16px 28px 0 #eee;
}
.shadow-5 {
    box-shadow: 0 40px 77px 0 #eee, 0 27px 24px 0 #eee;
}*/
/*box shadows for buttons*/
/********************/




/*hides the background image on anything smaller than the a destop screen*/
@media screen and (min-width: 992px){

    .img-size {
      max-width: 183px;
      text-align: center;
    }

    .landingBackground {
      height: 70%;
      background: url('/bedifferent/theme/assets/images/bird_hand.jpeg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color:#fff;
      background-color:#333;
      overflow-x: hidden;
       
    }
    .slide-panel {
      position: fixed;
      padding: 20px 0;
      color: #ffffff;
      background: #000000;
      top: 0;
      width: 100%;
      bottom: 0;
      right: 100%;
      z-index: 1000git ;
      transition: all 0.5s ease-in-out;
      overflow: auto;
      box-shadow: inset 0px 0px 0px 2px #ffffff;
      border: 3px solid #000000;
     
    }
}