/*The body padding in original is 52px to account for sidebar that is now hidden*/
body {
	padding-right: 0px;
	padding-left: 0px;
	overflow-x: hidden;
  height: 100%;
  max-height: 100%;
  color: #787E89;
  border-style: none;
  overflow-x: none;

}
button:hover {
  color: #000;
}
span {
  font-weight: bold;
}

a.btn:hover {
  
  box-shadow: 0 2px 10px  #eee;
  border-style: none;
  cursor: auto;
   
}

.btnEmail {
 
  width: 100%;
  height: 100%;
}
.btn-height {
  min-height: 150px;
  margin-top: 10px;
  padding-top: 35px;
}
 .btn-left {
  text-align: left;
 } 
 .btn-width {
  width: 234px;
}
.btn-kill {
  background-color: red;
  width: 100%;
  border-style: none;
  padding: 20px;
}
.btn-slide-panel {
  color: #fff;
  border-style: none;
  background-color: #4A4A4A;
}
.button-cancel {
  padding: 20px;
  width: 100%;
  border-style: none;
  background-color: #F4633B;

}
.buttonStyle {
  width: 100%;
  border-style: none;
  padding: 20px;
  background-color: #787E89;
}
.btn.raised,
.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.26);
      border-radius: 5px;
}
.button.raised:active {
     box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 1.26);
     transition-delay: 0s;
   }
.calltoAction {
     background-color: #eee;

     border-radius: 5px;
     border-width: 3.5px;
     border-color: #40EC9A;
     color: #40EC9A;
     font-weight: 100;
     text-transform: uppercase;
   }
   
.column-featured {
     background-color: transparent;
   }
.container {
  height: auto;
}
.dropmenuItems {
  padding-left: 20px !important;
  
}
.footer {
  margin-right: 0px;
  position: relative;
  z-index: 2;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
.header {
  border-color:  #fff;
   transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 0px 13px 0 rgba(0, 0, 0, 0.26);
      border-radius: 5px;

}
.header-btn-bar a:focus,
.header-btn-bar a:hover,
.header-btn-bar a:active,
.headero-btn-bar a.active-slide-btn {
  background-color: #4A4A4A;

}
  .img-size {
      max-width: 183px;
     
      
    }

.landing-column {
  background-color: #787E89;
}

.no-gutters {
	padding-right: 0;
  	padding-left: 0;
}
.no-page-gutters {
	padding: 0px;
}
.profileImage {
  margin: 0 auto;
  display: block;
  border: 5px solid #40EC9A;;
  border-radius: 50%;
  text-align: center;
}

.round-btn {
  border-radius: 5px;
}
.row {
  height: auto;
  
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.slide-panel {
  background-color: #4A4A4A;
  border-style: none;

}
.smLogo {
  max-height: 30px;
}
.summary {
  text-align: justify;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 3px;
  opacity: 0;
  background-color: #4A4A4A;
  color: #40EC9A;
  filter: alpha(opacity=0);
}
.tooltip-inner {
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  background-color: #4A4A4A;
  
  color: #40EC9A;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #40EC9A;
}
.transparent {
  background-color: transparent;
  border-radius: 5px;
  border-width: 3.5px;
}




.calltoAction {
      background-color: transparent;

      border-radius: 5px;
      border-width: 3.5px;
      border-color: #eee;
      color: #ddd;
      min-width: 234px;
     
    }

#cancelButtonText {
  color: #fff;
}

table#clickableRow {
    border-collapse: collapse;   
}

#clickableRow tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}
#clickableRow tr:hover {
background-color: #ccc;
}
#clickableRow th {
    background-color: #fff;
}
#clickableRow th, 
#clickableRow td {
    padding: 3px 5px;
}
#clickableRow td:hover {
    cursor: pointer;
}

#colFullheight {
  border-radius: 2px;
  background-color: transparent;
}
#go-to-top {
bottom: 3px;
left: 3px;
color: #fff;
cursor: pointer;
font-size: 30px;
line-height: 50px;
position: fixed;
text-align: center;
width: 50px;
z-index: 20;
background: #787E89;
}
#marginBot-Button {
  margin-bottom: 15px;
}
#fix-padding-right {
  padding-right: 0px;
}
#moveRight {
  text-align: right;
}

#nav .active, 
#nav a:hover, 
#nav a:active, 
#nav a:focus {
  background: #787E89;
  color: #fff;
  border-radius: 2px;

}
#nav .current, 
#nav .current-parent, 
#nav a.current.parent {
  background: #787E89;
  color: #40EC9A;
  border-radius: 2px;
}
#nav .active > a,
#nav a:hover,
#nav a:active,
#nav a:focus {
   background-color: #787e89;
  color: #40EC9A;
}
#tableTitle {
  font-family: Montserrat;
  font-weight: 500;
  word-spacing: .4em;
  background: #4A4A4A;
  color: #fff;
  padding-top: 20px;
  border-radius: 2px;
  margin-bottom: 20px;
  box-shadow: 0 2px 9px 0 #ABA5A5;
}


/*input and forms*/
/********************/
.input-group,
.form-control,
.input-group-addon {
  border-style: solid;
  background-color: #eee;
}
.form-control {
  background-color: #eee;
  height: 48px;
  
 
}
.form-control:hover {
  background-color: #fbfbfb;
  box-shadow: 2px 3px 5px #888888;
}
.input-group > .form-control,
.input-group > .input-group-addon,
.input-group > .input-group-btn > .btn {
  height: 48px;

}
select.input-group > .form-control,
select.input-group > .input-group-addon,
select.input-group > .input-group-btn > .btn {
  height: 48px;
  line-height: 34px;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 48px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 48px;
  line-height: 48px;
}
.input-group-addon {
  background-color: #ffffff;
}
.input-group-btn > .btn + .btn {
  margin-left: -1px;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -1px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-left: -1px;
}
.form-control:focus {
  background-color: #fbfbfb;
  
  font-weight: 600;
}
.form-control,
.input-group span,
.input-group .btn {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control::-moz-placeholder {
  opacity: 1;
  color: #6e5c53;
}
.form-control:-ms-input-placeholder {
  color: #6e5c53;
}
.form-control::-webkit-input-placeholder {
  color: #6e5c53;
}
.form-control:focus {
  border-color: #d4fbfb;
  border-style: none;
  border-width: 1px;
  -webkit-box-shadow: none;
  box-shadow: 2px 3px 5px #888888;
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/********************/

/************PAGER*****************************/
/*********************************************/
/*-------------------------------------------------------------------------------------------------------------------------------------*/
.pager li > a,
.pager li > span {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 5px 10px;
  margin-bottom: 5px;
  background: #787E89;
  color: #fff;
  margin: 0 5px;
  width: 95px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.26);
      border-radius: 5px;
}
.pager li {
  background: inherit;
}
.pager .ti {
  font-size: 80%;
}
.text-right.pager {
  text-align: right;
}
.text-left.pager {
  text-align: left;
}
.pager li > a:hover,
.pager li > a:focus {
  background-color: #787E89;
  color: #ffffff;
  border-color: #4b3f38;
}
.pager > .disabled > span,
.pager > .disabled > span:hover,
.pager > .disabled > span:focus,
.pager > .disabled > a,
.pager > .disabled > a:hover,
.pager > .disabled > a:focus {
  color: #eee;
  background-color: #eee;
  cursor: not-allowed;
  box-shadow: none;
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/

/*******HEADER BUTTON BAR ******************/
/*-------------------------------------------------------------------------------------------------------------------------------------*/

.header-btn-bar a:hover,
.header-btn-bar a:active,
.header-btn-bar a.active-slide-btn {
  color: #f3f1e7;
  background: #787E89;
  text-decoration: none;
}
.btn-default,
.btn-default:hover {
  color: #f3f1e7;
  background: #787E89;
  border-style: none;
}
.hideBorder,
.hideBorder  a {
  border-style: none;
  background-color: transparent;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

/*hides the background image on anything smaller than the a destop screen*/
@media screen and (min-width: 992px){
    
    .column-featured {
      background-color: transparent;
    }
    .img-size {
      max-width: 183px;
      text-align: center;
    }

    .logoHeight {
      max-height: 80px;
    }

    .landingBackground {
      height: 70%;
      background: url('/bedifferent/theme/assets/images/bird_hand.jpeg') no-repeat center center fixed;
     
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color:#fff;
      background-color:#333;
      overflow-x: hidden;

       
    }
 
    #fixHeaderMargin{
      margin-right: 
    }

    #sidebar {
      height: 800px;
    }

    } /*end media query md */


    @media screen and (max-width: 768px){

    .img-size-mobile {
      max-width: 183px;
     
      margin: 0px auto;
    }
      
    }



